html,body{
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: system-ui;
}
/* Barra de navegacion  */
nav{
    display: flex;
    background: lightgreen;
    padding: 10px;
    color: white;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
}
nav li{
    padding-left: 20px;
    list-style:none;
}
nav li a{
    text-decoration: none;
    color: gray;
}
nav li a:hover{
    color: white;
}
/* Barra de navegacion  */

/* Main Section */

.main-section{
    padding: 10%;
    text-align: center;
    justify-content: center;
    /* border: 5px solid yellow; */
}

.products{
    background-image: url("../images/curve.png");
    max-height: 50px;
    background-size: cover;
    background-position: center top;
    padding: 10%;
    display: flex;
    /* border: 5px solid red; */
    justify-content: center;
    
}
.product{
    /* border: 5px solid blue; */
    padding: 10px;
    margin-top: -160px;
    text-align: center;
    justify-content: center;
    box-shadow: inset 0 1 rgba(0, 0, 0, .2);


}
.product .content{
    background-color: white;
    padding: 10px;
    
}
.img-content{
    text-align: center;
}
/* Botton */
.main-button{
    text-align: center;
    background: lightgreen;
    border: 1px solid darkgreen;
    padding: .6em .8em .8em;
    color: white;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    
    outline: 0;
    transition: .2s;
    will-change: transform;
}
.main-button:active {
    transform: scale(.9);
    background-color: #62a262;
}

/* Beneficios */
.beneficios{
    padding: 10%;
    display: flex;
  }

  .beneficio{
    text-align: center;
    padding: 20px;
  }

.beneficio img{
    max-height: 100px
  }

.text_beneficio{
    text-align: justify;
  }
  